*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.bdy{
    background-color: black;
    color: white;
    text-align: center;
}
.header{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('images/background.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 10px 8px;
}
.navbrand{
    font-size: 40px;
    color: red;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 150px;
}

.logo{
    padding-left: 135px;
    height: 40px;
}

.sign_button{
    margin-right: 140px;
    margin-left: 20px;
}
.btn  {
    background:  #E50914;
    background-image: -webkit-linear-gradient(top,  #E50914,  #E50914);
    background-image: -moz-linear-gradient(top,  #E50914,  #E50914);
    background-image: -ms-linear-gradient(top,  #E50914,  #E50914);
    background-image: -o-linear-gradient(top,  #E50914,  #E50914);
    background-image: linear-gradient(to bottom,  #E50914,  #E50914);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  
  .btn:hover {
    background: #cc1414;
    background-image: -webkit-linear-gradient(top, #cc1414, #cc1414);
    background-image: -moz-linear-gradient(top, #cc1414, #cc1414);
    background-image: -ms-linear-gradient(top, #cc1414, #cc1414);
    background-image: -o-linear-gradient(top, #cc1414, #cc1414);
    background-image: linear-gradient(to bottom, #cc1414, #cc1414);
    text-decoration: none;
    color: #dbd7d7;
  }
  .lang_button{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-family: Arial;
    color: #ffffff;
    font-size: 12px;
    padding: 9px 20px 9px 20px;
    text-decoration: none; 
}
.lang_button img{
    width: 10px;
    margin-left: 10px;
}

  .introduction{
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    margin: 0;
  }

  .heading{
    font-weight: 1000;
    font-size: 40px;
  }

  .email{
    overflow: hidden;
    border-radius: 0px;
    margin-top: 20px;
}
.email input{
    background: transparent;
    flex: 1;
    border: 1;
    border-color: #fff;
    outline: 0.1;
    outline-color: black;
    width: 400px;
    height: 50px;
    border-width: 0.1px;
    color: #fff;
}
.email button{
    background:  #E50914;
    background-image: -webkit-linear-gradient(top,  #E50914,  #E50914);
    background-image: -moz-linear-gradient(top,  #E50914,  #E50914);
    background-image: -ms-linear-gradient(top,  #E50914,  #E50914);
    background-image: -o-linear-gradient(top,  #E50914,  #E50914);
    background-image: linear-gradient(to bottom,  #E50914,  #E50914);
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-width: 0;
}
.email button:hover{
    background: #ba0606;
    background-image: -webkit-linear-gradient(top, #ba0606, #ba0606);
    background-image: -moz-linear-gradient(top, #ba0606, #ba0606);
    background-image: -ms-linear-gradient(top, #ba0606, #ba0606);
    background-image: -o-linear-gradient(top, #ba0606, #ba0606);
    background-image: linear-gradient(to bottom, #ba0606, #ba0606);
    text-decoration: none;
}
.firstone{
    text-align: left;

    padding-left: 150px;
    padding-left: 150px;
    margin: 0%;
}
.tv_img{
    width: 90%;
}
.mobile_img{
    width: 90%;
}
.device_img{
    width: 90%;
}
.kids_img{
    width: 90%;
}
.text{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 1000px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 25px;
    font-size: 25px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
}
label::after{
    content: '+';
    font-size: 35px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.link{
    color: #777;
    display: block;
    text-decoration: none;
}
.h{
    width: 100%;
    height: 8px;
    border: 0 none;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #65656577;
}
.upper_line{
    width: 100%;
    height: 8px;
    border: 0 none;
    margin-top: 0px;
    margin-bottom: 80px;
    background-color: #65656577;
}
